html
    body
        #char-list
            position relative
            display flex
            flex-wrap wrap
            align-content: center
            a
                margin 2px
                div
                    margin 2px
                    width 19vw
                    height 30vh
                    background-size cover
                    color: white
                &:nth-child(18)
                    div
                        background-position: 15% 86% 

@import 'partials/header.styl'
@import 'partials/footer.styl'