html
    body
        background #222

        .cinemas-container
            display block
            text-align center
            color #dfdfdf
            width 75%
            margin 5vh auto 0 auto

            .container
                margin-bottom 60px

                .title
                    font-family UniHeavyItalic
                    font-size 44px
                    margin 0 0 10px 0
                    
                .line
                    width 56vw
                    margin auto
                    height 4px
                    background #E51111

    .errorMessage
        font-family GothamBold
        font-size 34px
        margin-bottom 50px

    .cinema-name
        font-family GothamBold
        font-size 24px
        margin-bottom 5px
        display inline-block
        width 75%
        margin auto auto 6px auto
        text-align left
    .cinema-location
        font-family GothamLight
        font-size 20px
        margin-bottom 5px
        display inline-block
        width 75%
        margin auto auto 6px auto
        text-align left
    .cinema-city
        font-family GothamLight
        font-size 20px
        margin-bottom 30px
        display inline-block
        width 75%
        margin auto auto 44px auto
        text-align left
    .cinema-view
        display block
        float right
        width 175px
        height 35px
        margin -95px 0 10px 75%
        text-align center
        padding-top 12px
        text-decoration none
        color #dfdfdf
        background #E51111
        font-family GothamMedium
        font-size 18px

// Smartphone
@media screen and (min-device-width: 360px) and (max-device-width: 640px)
    .cinemas-container
        .title
            font-size 34px !important
        .line
            width 46vw !important
    .cinema-name
        font-size 18px !important
    .cinema-location
        font-size 18px !important
    .cinema-city
        font-size 18px !important
    .cinema-view
        display block !important
        margin -20px auto 30px auto !important
        float none !important
        font-size 16px !important
        width 150px !important
        height 30px !important

// Tablet
@media screen and (min-device-width: 641px) and (max-device-width: 1023px)
    .cinemas-container
        .title
            font-size 40px !important
        .line
            width 50vw !important
    .cinema-view
        display block !important
        margin -20px 0 30px 14% !important
        float none !important
        font-size 16px !important
        width 150px !important
        height 30px !important