@font-face
    font-family GothamBold
    src url(../assets/webfonts/GothamBold.ttf)

@font-face
    font-family GothamMedium
    src url(../assets/webfonts/GothamMedium.ttf)

@font-face
    font-family GothamLight
    src url(../assets/webfonts/GothamLight.ttf)

@font-face
    font-family UniHeavyItalic
    src url(../assets/webfonts/UniSansHeavyItalic.otf)

@font-face
    font-family: UniSansthinItalic;
    src: url("../assets/webfonts/UniSansThinItalic.otf");

@font-face
    font-family GothamBold
    font-style bold
    src url(../assets/webfonts/GothamBold.ttf)




