html
    body
        #desc-hero
            background #000000
            color #ffffff
            margin-top -3vh
            padding-top 3vh
            font-family: gotham
            padding-bottom 8vh
            .back-button
                font-family GothamMedium
                text-decoration none
                position relative
                top 5vh
                left 5vw
                text-transform uppercase
                color #ffffff
                vertical-align middle

                .fa-angle-left
                    font-size 50px
                    vertical-align middle
                    margin-right 5px
            .title
                    display block
                    width 100%
                    text-align center
                    margin 0 auto 0 auto
                    text-transform uppercase
                    color red
                    h1
                        font-family UniHeavyItalic
                        font-size 60px
                        color #dfdfdf
                        margin 25px 0 0 0
                    .line
                        margin 0 auto 0 auto
                        width 20vw
                        height 4px
                        background #E51111
            .part-1
                width 84vw
                margin-left calc(50% - 39vw)
                margin-top 8vh
                font-size 18px
                img
                    height 60vh
                    display: inline-block
                    vertical-align top
                    margin-left 13vw
                .infos
                    width: 40%
                    display: inline-block
                    vertical-align: top
                    margin-left 3vw
                    margin-top 3vw
                    div
                        margin-bottom 15px
                        font-family GothamLight
                        .infos-type
                            font-family GothamMedium
                            font-size 20px
            .part-2
                width 84vw
                margin-left calc(50% - 39vw)
                text-align center
                margin-top 8vh
                font-size 18px

@import 'partials/header.styl'
@import 'partials/footer.styl'