html
    body
        #desc-hero
            background #000000
            color #ffffff
            margin-top -22px
            padding-top 20px
            font-family sans-serif
            .back-button
                text-decoration none
                position absolute
                top 3vw
                left 5vw
                text-transform uppercase
                color #ffffff
            h1
                margin-left 40%
                text-transform uppercase
                font-style italic
            .part-1
                width 84vw
                margin-left calc(50% - 39vw)
                margin-top 20px
                font-size 18px
                img
                    width 17vw
                    display: inline-block
                    vertical-align: top
                    margin-left 10%
                .infos
                    width: 40%
                    display: inline-block
                    vertical-align: top
                    margin-left 10%
                    div
                        margin-bottom 15px
            .part-2
                width 84vw
                margin-left calc(50% - 39vw)
                text-align center
                margin-top 20px
                font-size 18px
                h2 
                    text-transform uppercase
                div
                    width 25vw                    
                    display inline-block
                    vertical-align top
                    margin-bottom 20px
                    
@import 'partials/header.styl'
@import 'partials/footer.styl'