html
    body
        #desc-hero
            h1
                margin-left: 46%

            picture
                width: 25%
                display: inline-block
                vertical-align: top
                margin-left: 10%

            .infos
                width: 40%
                display: inline-block
                vertical-align: top
                margin-left: 10%
                div
                    margin-bottom: 15px
                    
@import 'partials/header.styl'
@import 'partials/footer.styl'