
///// CHARACTERS-LIST /////
@media screen and (min-device-width: 360px) and (max-device-width: 640px)
    #char-list
        .container
            padding-left 1vw
            .title
                h1
                    font-size 24px !important
                .line
                    width 65vw !important
                    height 3px !important
                p
                    font-size 10px !important
                    margin-bottom 4vh !important
            a
                width 30vw !important
                height 50vw !important
                transform skew(-15deg, 0deg) !important
                div
                    background-position 55% 50%
                    left -4vw !important
                    width 50vw !important
                    height 45vh !important
                    transform skew(15deg, 0deg) !important
                    .text-container
                        transform skew(0deg, 0deg) !important
                        padding-top 10px !important
                div
                    background-color rgba(0, 0, 0, 0.4) !important
                div span
                    opacity 0 !important
                div h2
                    opacity 1 !important
                    font-size 10px !important
                    color #dfdfdf !important
                    padding-left 85px !important


@media screen and (min-device-width: 641px) and (max-device-width: 1023px)
    #char-list
        .container
            padding-left 1vw
            .title
                h1
                    font-size 24px !important
                .line
                    width 36vw !important
                    height 3px !important
                p
                    font-size 10px !important
                    margin-bottom 4vh !important
            a
                width 30vw !important
                height 38vw !important
                transform skew(-15deg, 0deg) !important
                div
                    background-position 55% 50%
                    left -4vw !important
                    width 50vw !important
                    height 45vh !important
                    transform skew(15deg, 0deg) !important
                    .text-container
                        transform skew(0deg, 0deg) !important
                        padding-top 10px !important
                div
                    background-color rgba(0, 0, 0, 0.4) !important
                div span
                    opacity 0 !important
                div h2
                    opacity 1 !important
                    font-size 10px !important
                    color #dfdfdf !important
                    padding-left 85px !important


//////  RANKING  /////

@media screen and (min-device-width: 360px) and (max-device-width: 640px)
    #ranking
        .title
            .line
                width 25vw !important
        .pic-align-friend
            margin-top 3vh !important
            .pic-container
                transform skew(-15deg, 0deg) !important
                width 11vw !important
                height 11vh !important
                .heroePic
                    width 16vw !important
                    height 11vh !important
                    transform skew(15deg, 0deg) !important
        h4 
            margin-top 8vh !important
        .team-name 
            margin-bottom 0 !important
        .votes
            margin-left 23vw !important
        .add-vote
            margin-left 4vw !important
            margin-bottom 5vh !important
        .pic-align
            .pic-container
                transform skew(-15deg, 0deg) !important
                width 11vw !important
                height 11vh !important
                .heroePic
                    width 16vw !important
                    height 11vh !important
                    transform skew(15deg, 0deg) !important


@media screen and (min-device-width: 641px) and (max-device-width: 1023px)
    #ranking
        .title
            .line
                width 40vw !important
        .part-1
            display block !important
            img
                display block
                position relative
                right 0vw
                margin-bottom 25px !important
            .infos
                width 100% !important
                width 13vw !important
        .pic-align-friend
            .pic-container
                transform skew(-20deg, 0deg) !important
                width 11vw !important
                height 11vh !important
                .heroePic
                    width 17vw !important
                    height 11vh !important
                    transform skew(20deg, 0deg) !important
        .pic-align
            .pic-container
                transform skew(-20deg, 0deg) !important
                width 11vw !important
                height 11vh !important
                .heroePic
                    width 17vw !important
                    height 11vh !important
                    transform skew(20deg, 0deg) !important
