//////  HEADER  //////

@media screen and (min-device-width: 320px) and (max-device-width: 640px)
    #homepage, .error-page, .terms, #char-list, .cinema-div, #desc-hero, #inscription-container, .registration, .ranking-id
        position relative
        width 31.5em

        .header
            .logo
                height 12vw !important
                width 10vw !important
                margin: 2.5vw 0 1.5vw 15vw 

            .videoPlayerButton
                margin: 30vw auto !important

            .nav
                line-height: 12vw !important
                margin: 0 4vw
                
                .nav-link
                    font-size: 1.1em
                    margin: 0 2vw;

@media screen and (min-device-width: 2000px)
        .header
            .nav
                .nav-link
                    font-size: 2em !important
                    margin: 0 3vw !important    

@media screen and (min-device-width: 760px) and (max-device-width: 1020px)
        .header
            .logo
                margin: 0 2vw 0 15vw !important

            .nav
                line-height: 5vw !important
                .nav-link
                    font-size: 0.9em !important
                    margin: 0 2vw !important                    

@media screen and (max-device-width: 375px)
        .header
            .logo
                margin: 0 0 0 10vw !important
            .nav
                line-height: 12vw !important
                margin: 0 10vw  !important
                .nav-link
                    font-size: 1em !important
                    margin: 0 3vw !important

@media screen and (max-device-width: 330px)
        .header
            .logo
                margin: 0 0 0 15vw !important
            .nav
                line-height: 12vw !important
                margin: 1vw 0 0 10vw!important
                .nav-link
                    font-size: 1em !important
                    margin: 0 3vw !important

//////  FOOTER  //////

@media screen and (max-device-width: 770px)
    footer
        font-size: 1.8vw !important

@media screen and (min-device-width: 370px) and (max-device-width: 760px)
    footer
        font-size: 3vw !important
        padding: 5vw 6vw !important

        .fa-facebook-square 
            font-size: 4vw !important

        .fa-twitter-square 
            font-size: 4vw !important

@media screen and (min-device-width: 320px) and (max-device-width: 370px)

    footer
        font-size: 4vw !important
        padding: 6vw 7vw !important

        .fa-facebook-square 
            font-size: 6vw !important

        .fa-twitter-square 
            font-size: 6vw !important

///// HOMEPAGE/////

@media screen and (max-device-width: 770px)
    #homepage
        .title
            font-size: 1.5em !important

        .participationButton
            	font-size 1.8vw !important

@media screen and (min-device-width: 320px) and (max-device-width: 650px)
    #homepage
        .title
            font-size: 1.5em !important

        .participationButton
            	font-size 5vw !important
            .participationButton1
                padding 3vw 8vw  !important

        .avengersImg
            width: 66vw !important
            height: 20vh !important

        .contestText 
            width: 100vw !important

///// CHARACTERS-LIST /////

// Smartphone
@media screen and (min-device-width: 320px) and (max-device-width: 640px)
    #char-list
        .container
            padding-left 1vw
            .title
                h1
                    font-size 24px !important
                .line
                    width 65vw !important
                    height 3px !important
                p
                    font-size 10px !important
                    margin-bottom 4vh !important
            a
                width 30vw !important
                height 50vw !important
                transform skew(-15deg, 0deg) !important
                div
                    background-position 55% 50%
                    left -4vw !important
                    width 50vw !important
                    height 45vh !important
                    transform skew(15deg, 0deg) !important
                    .text-container
                        transform skew(0deg, 0deg) !important
                        padding-top 10px !important
                div
                    background-color rgba(0, 0, 0, 0.4) !important
                div span
                    opacity 0 !important
                div h2
                    opacity 1 !important
                    font-size 10px !important
                    color #dfdfdf !important
                    padding-left 85px !important

// Tablet

@media screen and (min-device-width: 641px) and (max-device-width: 1023px)
    #char-list
        .container
            padding-left 1vw
            .title
                h1
                    font-size 24px !important
                .line
                    width 36vw !important
                    height 3px !important
                p
                    font-size 10px !important
                    margin-bottom 4vh !important
            a
                width 30vw !important
                height 38vw !important
                transform skew(-15deg, 0deg) !important
                div
                    background-position 55% 50%
                    left -4vw !important
                    width 50vw !important
                    height 45vh !important
                    transform skew(15deg, 0deg) !important
                    .text-container
                        transform skew(0deg, 0deg) !important
                        padding-top 10px !important
                div
                    background-color rgba(0, 0, 0, 0.4) !important
                div span
                    opacity 0 !important
                div h2
                    opacity 1 !important
                    font-size 10px !important
                    color #dfdfdf !important
                    padding-left 85px !important

//////  HERO PAGE  //////

// Smartphone
@media screen and (min-device-width: 320px) and (max-device-width: 640px)
    #desc-hero
        .back-button
            top 2vh !important
        .title
            h1
                font-size 32px !important
            .line
                width 40vw !important
        .part-1
            display block !important
            img
                display block
                position relative
                right 10vw
                margin-bottom 15px !important
            .infos
                width 100% !important


// Tablet
@media screen and (min-device-width: 641px) and (max-device-width: 1023px)
    #desc-hero
        .back-button
            top 2vh !important
        .title
            h1
                font-size 46px !important
            .line
                width 40vw !important
        .part-1
            display block !important
            img
                display block
                position relative
                right 0vw
                margin-bottom 25px !important
            .infos
                width 100% !important

//////  TERMS PAGE  //////

@media screen and (min-device-width: 320px) and (max-device-width: 760px)
    .terms-container
        h3
            font-size: 1.6em !important
            margin: 8vw 9vw !important
        p
            font-size: 0.7em !important
            text-align: left !important
            margin: 8vw 9vw !important

@media screen and (min-device-width: 760px) and (max-device-width: 1024px)
    .terms-container
        h3
            font-size: 1.6em !important
            margin: 3vw 9vw !important
        p
            font-size: 0.7em !important
            text-align: left !important
            margin: 3vw 9vw !important

//////  ERROR PAGE //////

@media screen and (min-device-width: 320px) and (max-device-width: 760px)
    .error-page, .terms, #char-list, .cinema-div, #desc-hero, #inscription-container, .registration, .ranking-id
        footer
            width: 49em