
///// CHARACTERS-LIST /////

// Smartphone
@media screen and (min-device-width: 360px) and (max-device-width: 640px)
    .container
        padding-left 1vw
        .title
            h1
                font-size 24px !important
            .line
                width 65vw !important
                height 3px !important
            p
                font-size 10px !important
                margin-bottom 4vh !important
        a
            width 30vw !important
            height 50vw !important
            transform skew(-15deg, 0deg) !important
            div
                background-position 55% 50%
                left -4vw !important
                width 50vw !important
                height 45vh !important
                transform skew(15deg, 0deg) !important
                .text-container
                    transform skew(0deg, 0deg) !important
                    padding-top 10px !important
            div
                background-color rgba(0, 0, 0, 0.4) !important
            div span
                opacity 0 !important
            div h2
                opacity 1 !important
                font-size 10px !important
                color #dfdfdf !important
                padding-left 85px !important

// Tablet

@media screen and (min-device-width: 641px) and (max-device-width: 1023px)
    .container
        padding-left 1vw
        .title
            h1
                font-size 24px !important
            .line
                width 36vw !important
                height 3px !important
            p
                font-size 10px !important
                margin-bottom 4vh !important
        a
            width 30vw !important
            height 38vw !important
            transform skew(-15deg, 0deg) !important
            div
                background-position 55% 50%
                left -4vw !important
                width 50vw !important
                height 45vh !important
                transform skew(15deg, 0deg) !important
                .text-container
                    transform skew(0deg, 0deg) !important
                    padding-top 10px !important
            div
                background-color rgba(0, 0, 0, 0.4) !important
            div span
                opacity 0 !important
            div h2
                opacity 1 !important
                font-size 10px !important
                color #dfdfdf !important
                padding-left 85px !important

//////  HERO PAGE  //////

// Smartphone
@media screen and (min-device-width: 360px) and (max-device-width: 640px)
    #desc-hero
        .back-button
            top 2vh !important
        .title
            h1
                font-size 32px !important
            .line
                width 40vw !important
        .part-1
            display block !important
            img
                display block
                position relative
                right 10vw
                margin-bottom 15px !important
            .infos
                width 100% !important


// Tablet
@media screen and (min-device-width: 641px) and (max-device-width: 1023px)
    #desc-hero
        .back-button
            top 2vh !important
        .title
            h1
                font-size 46px !important
            .line
                width 40vw !important
        .part-1
            display block !important
            img
                display block
                position relative
                right 0vw
                margin-bottom 25px !important
            .infos
                width 100% !important



