html
    body
        #ranking
            span
                display inline-block
            input
                opacity 0
                cursor context-menu
            .heroePic
                width 5vw
                height 5vw
                display inline-block
                background-size cover
        

@import 'partials/header.styl'
@import 'partials/footer.styl'