.container-team-page
    width 90%
    margin 100px auto 30px auto
    text-align center
    font-family GothamMedium
    .team-name-choose
        color #E51111
        font-size 25px
        margin-bottom 20px
        span
            color #FFF
    .team-link
        color #E51111
        font-size 25px
        margin-bottom 25px
        .link
            font-family GothamLight
            margin-top 10px
            color #FFF
            font-size 22px
    .contain-img
        display inline-block
        margin 10px 10px 10px 10px
    img
        text-align center
        width auto
        height 200px
        background #fff
    .select
        margin-bottom 20px
        padding 6px
        color #fff
        font-size 18px
        background #E51111
        text-decoration none
    .validate
        font-family GothamBold
        display block
        width 200px
        margin 45px auto
        padding-top 10px
        padding-bottom 10px
        text-align center
        text-transform uppercase
        text-decoration none
        padding 6px
        color #fff
        font-size 20px
        background #E51111

@media screen and (min-device-width: 360px) and (max-device-width: 640px)
        .container-team-page
            .contain-img
                display block !important
                margin 20px 0px 20px 0px !important
            .select
                padding 0 5px 5px 5px !important