html
    body
        .form-upload
            display block
            width 50vw
            height 30vh
            text-align center
            margin auto
            .title
                font-family UniHeavyItalic
                font-size 40px
                margin 25px 0 10px 0
            .line
                display block
                margin-left 12vw
                width 26vw
                height 3px
                background #E51111
                margin-bottom 40px
            .form-submit
                display block
                background #E51111
                border none
                font-family GothamBold
                font-size 22px
                text-transform uppercase
                color #dfdfdf
                width 150px
                height 60px
                margin 50px auto auto auto

@media screen and (min-device-width: 360px) and (max-device-width: 640px)
    .form-upload
        .title
            font-size 26px !important
        .form-submit
            width 120px
            height 40px
            font-size 18px !important