@import './components/fonts'
@import './components/values'
@import './components/mixins'
@import './components/animations'
@import './components/homepage'
@import './components/mediaqueries'
@import './components/character-list'
@import './components/hero'
@import './components/ranking'
@import './components/inscription'
@import './components/cinemas'
@import './components/error'
@import './components/terms'
